/* Small devices (phones, 600px and down) */
* {
  padding: 0;
  margin: 0;
  font-family: "roboto";
  scroll-behavior: smooth;
}

/* HOMEPAGE */
/* Load Screen */

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  opacity: 85%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#99e2d0, #ff79da, #9356dc);
  z-index: 10;
  animation: loader 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both;

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -1;
    }
  }

  .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70px;

    span {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: white;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    :nth-child(1) {
      left: 8px;
      animation: content1 0.7s infinite;
    }

    :nth-child(2) {
      left: 8px;
      animation: content2 0.7s infinite;
    }

    :nth-child(3) {
      left: 32px;
      animation: content2 0.7s infinite;
    }

    :nth-child(4) {
      left: 56px;
      animation: content3 0.7s infinite;
    }

    @keyframes content1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

    @keyframes content3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }

    @keyframes content2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}

/* Header */
.main-header {
  width: 100%;

  .logo {
    padding: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
}

/* Intro */
.intro {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 55px;

  .location {
    width: 100%;
    padding: 15px 0;
    background-color: #eaeaea;
    box-shadow: inset 0px 6px 8px -4px rgb(194, 193, 193);
    color: #353535;

    .icon {
      padding-right: 10px;
    }
  }

  h1 {
    padding: 35px 0 15px 0;
  }

  p {
    padding: 15px;
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 20px;
  }

  .button {
    display: block;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 20px;
    border-radius: 24px;
    color: white;
    background-image: linear-gradient(to bottom right, #eb83dd, #a73ff2);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 17px;
    text-decoration: none;
    transition: 300ms ease-in-out;

    &:hover {
      background-image: linear-gradient(to bottom right, #c67efa, #fc8fed);
      transform: scale(1.06);
    }
  }
}

/* Steps */
.steps {
  padding: 35px 20px 35px 30px;

  h2 {
    padding-bottom: 15px;
  }

  .item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
    transition: transform 400ms;

    &:hover {
      transform: scale(1.035);
    }

    span {
      padding: 8px;
      line-height: 8px;
      font-size: 13px;
      color: white;
      background-color: #9356dc;
      border-radius: 30px;
      position: absolute;
      left: -10px;
    }

    .content {
      display: inline-flex;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 25px;
      border-radius: 20px;
      background-color: #f6f6f6;
      width: 100%;

      .icon {
        padding-right: 20px;
        padding-left: 14px;
        color: #7e7e7e;
        font-size: 18px;
      }
      &:hover {
        background-color: #f5edff;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
        transition: 150ms ease-in-out;
      }
    }
  }
}

/* Restaurants */
.restaurants {
  padding: 45px 20px;
  background-color: #f6f6f6;

  .header {
    padding-bottom: 20px;
  }

  .item {
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: transform 400ms;

    &:hover {
      transform: scale(1.03);
    }

    a {
      color: black;
      text-decoration: none;
    }

    .new {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 6px 28px;
      border-radius: 2px;
      background-color: #99e2d0;
      color: #008766;
      font-size: 14px;
      float: right;
    }

    img {
      width: 100%;
      height: 170px;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }

    .content {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      padding: 15px;
      box-sizing: border-box;
      align-items: center;

      .text {
        font-size: 16px;
        line-height: 22px;
        display: inline-block;

        h3 {
          line-height: 28px;
        }
      }

      .icon {
        position: absolute;
        font-size: 25px;
        right: 20px;
        line-height: 50px;
      }

      .icon-fill {
        position: absolute;
        font-size: 25px;
        right: 20px;
        line-height: 50px;
        color: transparent;
        transform: scale(0.4);
        transition: transform 400ms;

        &:hover {
          transform: scale(0.85);
          background: -webkit-linear-gradient(#eb83dd, #9326e1);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

/* Footer */
.footer {
  width: 100%;
  background-color: #353535;
  padding: 30px 0px 30px 25px;
  box-sizing: border-box;

  h2 {
    font-family: "shrikhand";
    font-size: 17px;
    color: white;
  }

  nav {
    display: flex;
    flex-direction: column;
    line-height: 25px;

    a {
      text-decoration: none;
      color: white;

      i {
        padding-right: 10px;
        font-size: 12px;
      }
    }
  }
}

/* MENU PAGES */
/* Header */
.main-header {
  display: flex;
  align-items: center;

  .icon {
    padding-left: 20px;
    font-size: 20px;
    color: black;
  }
}

/* Intro */
.hero {
  height: 200px;

  .image {
    width: 100%;
  }
}

/* Menu */
.menu {
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding-bottom: 40px;

  .menu-header {
    display: inline-flex;
    align-items: center;
    padding: 30px 0 30px 20px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;

    .title {
      font-size: 27px;
      font-family: "shrikhand";
      margin-right: 20px;
    }

    .icon {
      margin-right: 20px;
      font-size: 25px;
      position: relative;
      cursor: pointer;

      .icon-fill {
        position: absolute;
        font-size: 25px;
        color: transparent;
        transform: scale(0.4);
        transition: transform 400ms;
        cursor: pointer;
        right: 0px;

        &:hover {
          transform: scale(0.85);
          background: -webkit-linear-gradient(#eb83dd, #9326e1);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .item {
    padding: 0px 15px 30px 15px;

    h2 {
      font-size: 18px;
      font-weight: lighter;
    }

    hr {
      width: 43px;
      border: 2px solid #99e2d0;
      margin-top: 5px;
    }

    .content {
      position: relative;
      margin-top: 15px;
      padding: 10px;
      background-color: white;
      border-radius: 14px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      font-size: 14px;
      line-height: 25px;
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      cursor: pointer;

      h2 {
        font-weight: bold;
        width: 100%;
      }

      .text {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
          font-weight: lighter;
        }

        span {
          position: absolute;
          right: 0px;
          background-color: white;
          padding: 0 10px;
          transition: 1.5s;
          transition-timing-function: ease;
          transform: translateX(0px);
        }
      }

      .check {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 22px;
        background-color: #99e2d0;
        color: white;
        width: 80px;
        height: 70px;
        transition: 2s;
        transition-timing-function: ease;
        transform: translateX(45px);
        position: relative;
        top: -60px;
        left: 100%;
      }

      &:hover {
        span {
          transform: translateX(-75px);
          transition-timing-function: ease-in-out;
          transition: transform 800ms;
          transition-delay: 0.04s;
        }

        .check {
          transform: translateX(-65px);
          transition-timing-function: ease-in-out;
          transition: transform 770ms;
        }

        .icon {
          transition-duration: 900ms;
          transition-delay: 0.2s;
          transform: rotate(360deg);
        }
      }
    }

    :nth-child(3) {
      opacity: 1;
      animation: fadeIn 400ms ease-in-out;
      animation-timing-function: ease-in;
      animation-duration: 1s;
    }

    :nth-child(4) {
      opacity: 1;
      animation: fadeIn 400ms ease-in-out;
      animation-timing-function: ease-in;
      animation-duration: 1.3s;
    }

    :nth-child(5) {
      opacity: 1;
      animation: fadeIn 400ms ease-in-out;
      animation-timing-function: ease-in;
      animation-duration: 1.6s;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      85% {
        transform: scale(1.01);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .checkout-btn {
    display: none;
    min-width: 200px;
    position: sticky;
    bottom: 2%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    padding: 14px 20px;
    border-radius: 24px;
    color: white;
    background-image: linear-gradient(to bottom right, #eb83dd, #a73ff2);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 140px;
    cursor: pointer;
    transition: 300ms ease-in-out;

    &:hover {
      background-image: linear-gradient(to bottom right, #c67efa, #fc8fed);
      transform: scale(1.06);
    }

    &.active {
      display: block;
    }

    &:focus {
      animation: button forwards;
    }

    @keyframes button {
      0% {
        background-image: linear-gradient(to bottom right, #eb83dd, #a73ff2);
      }
      100% {
        background-image: linear-gradient(to bottom right, #88f3d8, #00ae82);
      }
    }
  }
}

/* Responsive (laptops, tablets, 750px and up) */
@media only screen and (min-width: 768px) {
  /* HOMEPAGE */
  /* Header */
  .main-header {
    .icon {
      font-size: 25px;
    }
    .logo {
      width: 30%;
    }
  }

  /* Steps */
  .steps {
    padding: 35px 20px 35px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      padding-bottom: 15px;
      width: 100%;
      text-align: left;
    }

    .item {
      margin-right: 5%;
      margin-left: 5%;
    }
  }

  /* Restaurants */
  .restaurants {
    padding: 35px 20px 35px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .header {
      padding-bottom: 0;
      text-align: left;
    }

    a {
      padding-bottom: 10px;
      text-align: center;
      width: 100%;
    }

    .item {
      margin-bottom: 0;
      margin: 10px;
      width: 45%;

      .content {
        .text {
          text-align: left;
        }
      }
    }
  }

  /* Footer */
  .footer {
    padding: 30px 0 20px 30px;
    box-sizing: border-box;
    font-size: 15px;

    h2 {
      font-size: 20px;
    }

    nav {
      line-height: 30px;

      a {
        i {
          padding-right: 10px;
          font-size: 18px;
        }
      }
    }
  }

  /* MENU PAGES */
  /* Header */
  .main-header {
    .icon {
      font-size: 25px;
    }
  }

  /* Menu */
  .menu {
    .menu-header {
      display: inline-flex;
      align-items: center;
      padding: 30px 0;
      width: 100%;
      justify-content: center;
    }

    .item {
      padding: 0px 50px 30px 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h2 {
        width: 100%;
        text-align: center;
      }
      .content {
        width: 100%;

        h2 {
          text-align: left;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 990px and up) */
@media only screen and (min-width: 992px) {
  /* HOMEPAGE */
  /* Steps */
  .steps {
    padding: 35px 20px 35px 30px;

    h2 {
      padding-bottom: 15px;
    }

    .item {
      margin: 1%;
      width: calc(94% / 3);
    }
  }

  /* MENU PAGES */
  /* Menu */
  .menu {
    padding: 0 30px 40px 30px;
    box-sizing: border-box;
  }
}
