/* Small devices (phones, 600px and down) */
* {
  padding: 0;
  margin: 0;
  font-family: "roboto";
  scroll-behavior: smooth;
}

/* HOMEPAGE */
/* Load Screen */
.loader {
  position: fixed;
  opacity: 85%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#99E2D0, #FF79DA, #9356DC);
}

/* Header */
.main-header {
  width: 100%;
}

.main-header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

/* Intro */
.intro {
  background-color: #f6f6f6;
  text-align: center;
}

.intro .location {
  width: 100%;
  padding: 15px 0;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 6px 8px -4px #c2c1c1;
          box-shadow: inset 0px 6px 8px -4px #c2c1c1;
  color: #353535;
}

.intro .location .icon {
  padding-right: 10px;
}

.intro h1 {
  padding: 35px 0 15px 0;
}

.intro p {
  padding: 15px;
  font-weight: lighter;
  font-size: 17px;
}

.intro button {
  padding: 14px 20px;
  border-radius: 24px;
  margin: 15px 0px 45px 0px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eb83dd), to(#a73ff2));
  background-image: linear-gradient(to bottom right, #eb83dd, #a73ff2);
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 17px;
}

.intro button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c67efa), to(#fc8fed));
  background-image: linear-gradient(to bottom right, #c67efa, #fc8fed);
  -webkit-transition: 190ms ease-in-out;
  transition: 190ms ease-in-out;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

/* Steps */
.steps {
  padding: 35px 20px 35px 30px;
}

.steps h2 {
  padding-bottom: 15px;
}

.steps .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.steps .item:hover {
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.steps .item span {
  padding: 8px;
  line-height: 8px;
  font-size: 13px;
  color: white;
  background-color: #9356dc;
  border-radius: 30px;
  position: absolute;
  left: -10px;
}

.steps .item .content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 20px;
  background-color: #f6f6f6;
  width: 100%;
}

.steps .item .content .icon {
  padding-right: 20px;
  padding-left: 14px;
  color: #7e7e7e;
  font-size: 18px;
}

.steps .item .content:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

/* Restaurants */
.restaurants {
  padding: 45px 20px;
  background-color: #f6f6f6;
}

.restaurants .header {
  padding-bottom: 20px;
}

.restaurants .item {
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}

.restaurants .item:hover {
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.restaurants .item a {
  color: black;
  text-decoration: none;
}

.restaurants .item .new {
  position: absolute;
  width: 100%;
}

.restaurants .item .new span {
  margin: 15px;
  padding: 6px 28px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
  float: right;
}

.restaurants .item img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.restaurants .item .content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.restaurants .item .content .text {
  font-size: 15px;
  line-height: 22px;
  padding: 15px 0 15px 15px;
  display: inline-block;
}

.restaurants .item .content .text h3 {
  line-height: 28px;
}

.restaurants .item .content .icon {
  margin: 25px 0 0 290px;
  font-size: 25px;
  position: absolute;
}

.restaurants .item .content .icon-fill {
  position: absolute;
  margin: 25px 0 0 290px;
  font-size: 25px;
  color: transparent;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.restaurants .item .content .icon-fill:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  background: -webkit-linear-gradient(#eb83dd, #9326e1);
  background-clip: border-box;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #353535;
}

.footer h2 {
  font-family: "shrikhand";
  font-size: 17px;
  padding: 20px 0 0 15px;
  color: white;
}

.footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 40px 15px;
  line-height: 25px;
}

.footer nav a {
  text-decoration: none;
  color: white;
}

.footer nav a i {
  padding-right: 10px;
  font-size: 12px;
}

/* MENU PAGES */
/* Header */
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .icon {
  padding-left: 20px;
  font-size: 20px;
  color: black;
}

/* Intro */
.hero {
  height: 200px;
}

.hero .image {
  width: 100%;
}

/* Menu */
.menu {
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.menu .menu-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 30px 20px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu .menu-header .title {
  font-size: 27px;
  font-family: "shrikhand";
}

.menu .menu-header .icon {
  margin-left: 290px;
  font-size: 25px;
  position: absolute;
}

.menu .menu-header .icon-fill {
  position: absolute;
  margin-left: 290px;
  font-size: 25px;
  color: transparent;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.menu .menu-header .icon-fill:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  background: -webkit-linear-gradient(#eb83dd, #9326e1);
  background-clip: border-box;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu button {
  padding: 14px 20px;
  border-radius: 24px;
  margin: 15px 0px 35px 0px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eb83dd), to(#a73ff2));
  background-image: linear-gradient(to bottom right, #eb83dd, #a73ff2);
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 140px;
}

.menu button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c67efa), to(#fc8fed));
  background-image: linear-gradient(to bottom right, #c67efa, #fc8fed);
  -webkit-transition: 190ms ease-in-out;
  transition: 190ms ease-in-out;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.menu .item {
  padding: 0px 15px 30px 15px;
}

.menu .item h2 {
  font-size: 18px;
  font-weight: lighter;
}

.menu .item hr {
  width: 43px;
  border: 2px solid #99e2d0;
  margin-top: 5px;
}

.menu .item .content {
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 14px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu .item .content h2 {
  font-weight: bold;
  width: 100%;
}

.menu .item .content p {
  font-weight: lighter;
}

.menu .item .content .text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu .item .content .icon {
  padding: 20px;
  background-color: #99E2D0;
}
/*# sourceMappingURL=styles.css.map */