/* Small devices (phones, 600px and down) */
  * {
    padding: 0;
    margin: 0;
    font-family: "roboto";
  }

/* HOMEPAGE */
  /* Header */
  .main-header {
    width: 100%;

    .logo {
      align-items: center;
      padding: 15px 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  /* Intro */
  .intro {
    background-color: #f6f6f6;
    text-align: center;

    .location {
      width: 100%;
      padding: 15px 0;
      background-color: #eaeaea;
      box-shadow: inset 0px 6px 8px -4px rgb(194, 193, 193);
      color: #353535;

      .icon {
        padding-right: 10px;
      }
    }

    h1 {
      padding: 35px 0 15px 0;
    }

    p {
      padding: 15px;
      font-weight: lighter;
    }
    button {
      padding: 14px 20px;
      border-radius: 24px;
      margin: 15px 0px 35px 0px;
      color: white;
      background-image: linear-gradient(to bottom right, #e972da, #a75ddc);
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        background-image: linear-gradient(to bottom right, #c67efa, #fc8fed);
        transition: 190ms ease-in-out;
      }
    }
  }

  /* Steps */
  .steps {
    padding: 35px 15px;

    h1 {
      padding-bottom: 15px;
    }

    .item {
      display: inline-flex;
      align-items: center;
      width: 100%;
      padding: 10px 0;

      span {
        padding: 7px;
        line-height: 7px;
        font-size: 12px;
        color: white;
        background-color: #9356dc;
        border-radius: 30px;
      }

      .content {
        display: inline-flex;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 25px;
        border-radius: 20px;
        background-color: #f6f6f6;
        width: 100%;

        .icon {
          padding-right: 15px;
          color: #7e7e7e;
        }
        &:hover {
          background-color: #f5edff;
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
          transition: 150ms ease-in-out;
        }
      }
    }
  }

  /* Restaurants */
  .restaurants {
    padding: 35px 15px;
    background-color: #f6f6f6;

    .header {
      padding-bottom: 20px;
    }

    .item {
      margin-bottom: 20px;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 12px;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
      }

      .content {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        .text {
          font-size: 18px;
          padding: 15px 0 15px 15px;
          display: inline-block;
        }
        .icon {
          padding: 20px 20px 0 0;
          font-size: 25px;

          :hover {
            background-color: linear-gradient(
              to bottom right,
              #e972da,
              #a75ddc
            );
          }
        }
      }
    }
  }

  /* Footer */
  .footer {
    width: 100%;
    background-color: #353535;

    .header {
      font-family: "shrikhand";
      font-size: 17px;
      padding: 20px 0 0 15px;
      color: white;
    }

    .item {
      display: flex;
      flex-direction: column;
      color: white;
      padding: 10px 0 40px 15px;
      line-height: 25px;

      .content {
        display: flex;
        align-items: center;

        .icon {
          padding-right: 10px;
          font-size: 12px;
        }
      }
    }
  }


/* MENU PAGES */
  /* Header */
  .main-header{
    display: flex;
    align-items: center;
    
    
      .icon{
        padding-left: 20px;
        font-size: 20px;
      }
    
  }
  /* Intro */ 
  .hero {
    height: 200px;

    .image {
      width: 100%; 
    }
  }

  /* Menu */
  .menu {
    position: relative;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 30px 30px 0 0;

    .menu-header {
      display: inline-flex;
      align-items: center;
      padding: 30px 0 30px 20px;

      .title {
        font-size: 27px;
        font-family: "shrikhand";
      }

      .icon {
        font-size: 25px;
      }
    }

    button {
      padding: 14px 20px;
      border-radius: 24px;
      margin: 15px 0px 35px 0px;
      color: white;
      background-image: linear-gradient(to bottom right, #e972da, #a75ddc);
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 140px;
     
      

      &:hover {
        background-image: linear-gradient(to bottom right, #c67efa, #fc8fed);
        transition: 190ms ease-in-out;
      }
    }

    .item {
      padding: 0px 15px 30px 15px;

      h2 {
        font-size: 18px;
        font-weight: lighter;
      }
      hr{
        width: 43px;
        border: 2px solid #99E2D0;
        margin-top: 5px;
        
      }
      .content {
        margin-top: 15px;
        padding: 10px;
        background-color: white;
        border-radius: 14px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        font-size: 14px;
        line-height: 25px;
          h2{
            font-weight:bold;
          }
          .text{
            display: inline-flex;
          }
          p {
            font-weight: lighter;
          }
      }
    }
  }

